.test {
    .header {
        display: flex;
        justify-content: space-between;
    }

    #content {
        padding: 0lh 1ch;
        padding-top: 1lh;
        display: flex;
        flex-direction: column;
        gap: 1lh;
    }

    #buttons {
        display: flex;
        justify-content: flex-end;
    }
}